*.pyc
*.DS_Store
*.egg*
/dist/
/.idea
/docs/_build/
/node_modules/
build/
env
/staticfiles
#src
*.sqlite*

.env
.env.prod
.env.local
.venv
.vscode
out.json
service-account.json

/home/templates/temp
media/
scripts/sync-gcp-cost/.env
scripts/sync-gcp-cost/service-account.json


Pipfile*

playground.py