django~=4.2.4
gunicorn
python-dotenv~=1.0.0
whitenoise
django-theme-material-kit==1.0.19
psycopg2-binary
mysqlclient
django_rest_framework
google-cloud-bigquery
google-cloud-storage
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
marshmallow~=3.20.1
django-crontab==0.7.1
babel~=2.12.1
httpx~=0.24.1
uvicorn
kubernetes==26.1.0
djangorestframework~=3.14.0
asgiref~=3.7.2
python-dateutil~=2.8.2
django-redis