<style>
    .footer {
        bottom: 0;
        padding: 20px 0;
        text-align: center;
    {#margin-left: 5%;#}
    }

    .footer .nav-footer {
        margin-bottom: 0;
    }

    .footer .nav-footer .nav-link {
        font-size: 16px;
        font-weight: bold;
    }
</style>

<footer class="footer py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg">
                <ul class="nav nav-footer justify-content-center">
                    <li class="nav-item">
                        <a href="https://moladin.atlassian.net/wiki/spaces/IN/pages/815464567/Change+Log"
                           class="nav-link text-muted" target="_blank">Changelogs</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://moladin.atlassian.net/wiki/spaces/IN/pages/739082289/Cost+Management+System"
                           class="nav-link text-muted" target="_blank">Release
                            Notes</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>