{% extends 'layouts/base_dashboard.html' %}
{% load static %}

{% block title %} GCP Cost {% endblock title %}

{% block content %}
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        {% include 'includes/dashboard_navbar.html' %}

        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-12">
                    <div class="card my-4">
                        <form action="/kubecost">
                            <div class="card-header p-0 position-relative mt-n4 z-index-2">
                                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 col-12">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <h6 class="text-white text-capitalize ps-3">GCP Cost Report</h6>
                                        </div>
                                        <div class="col-sm-2">
                                            <input style="width: -webkit-fill-available;padding: 4px" width="100%"
                                                   type="date" id="date" name="date"
                                                   value="{{ input_date }}" required>
                                        </div>
                                        <div class="col-sm-2">
                                            <select class="form-select" name="period" required
                                                    style="background-color: #7b809a;">
                                                {% if input_period %}
                                                    <option value="{{ input_period }}">{{ input_period }}</option>
                                                {% else %}
                                                    <option value="" hidden>Select Period</option>
                                                {% endif %}
                                                <option disabled></option>
                                                <option value="weekly">weekly</option>
                                                <option value="monthly">monthly</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-2">
                                            <select class="form-select" name="tech_family" required
                                                    style="background-color: #7b809a;">
                                                {% if input_tf %}
                                                    <option value="{{ input_tf }}">{{ input_tf }}</option>
                                                {% else %}
                                                    <option value="" hidden>Select Tech Family</option>
                                                {% endif %}
                                                <option disabled></option>
                                                {% for tf in tech_family %}
                                                    <option value="{{ tf.slug }}">{{ tf.slug }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-sm-1">
                                            <input class="btn btn-secondary btn-sm" type="submit">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0" id="kubecostDatatable">
                                <thead>
                                <tr>
                                    <th class="text-center text-uppercase text-xs font-weight-bolder opacity-7">Service
                                        Name
                                    </th>
                                    <th class="text-center text-uppercase text-xs font-weight-bolder opacity-7">Cost per
                                        Env
                                    </th>
                                    <th class="text-center text-uppercase text-xs font-weight-bolder opacity-7">Date
                                        Range
                                    </th>
                                    <th class="text-center text-uppercase text-xs font-weight-bolder opacity-7">Cost
                                        Current
                                    </th>
                                    <th class="text-center text-uppercase text-xs font-weight-bolder opacity-7">Cost
                                        Previous
                                    </th>
                                    <th class="text-center text-uppercase text-xs font-weight-bolder opacity-7">Status
                                        Cost
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for service in services %}
                                    <tr>
                                        <td class="align-middle text-center text-sm"><span
                                                class="text-xs font-weight-bold text-uppercase">{{ service.service_name }}</span>
                                        </td>
                                        <td class="align-middle text-center text-sm"><span
                                                class="text-secondary text-xs font-weight-bold">{{ service.environment }}</span>
                                        </td>
                                        <td class="align-middle text-center text-sm"><span
                                                class="text-secondary text-xs font-weight-bold">{{ date_range }}</span>
                                        </td>
                                        <td class="align-middle text-center text-sm"><span
                                                class="text-secondary text-xs font-weight-bold">${{ service.cost_this_period }} USD</span>
                                        </td>
                                        <td class="align-middle text-center text-sm"><span
                                                class="text-secondary text-xs font-weight-bold">${{ service.cost_prev_period }} USD</span>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            {% if service.cost_status == "UP" %}
                                                <span style="color:#e74c3c">⬆ {{ service.cost_status_percent }}%</span>
                                            {% elif service.cost_status == "DOWN" %}
                                                <span style="color:#1abc9c">⬇ {{ service.cost_status_percent }}%</span>
                                            {% else %}
                                                <span class="text-secondary text-xs font-weight-bold">Equal</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer py-4  ">
                <div class="container-fluid">
                    <div class="row align-items-center justify-content-lg-between">
                        <div class="col-lg-6">
                            <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                                <li class="nav-item">
                                    <a href="https://www.creative-tim.com/presentation" class="nav-link text-muted"
                                       target="_blank">About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://www.creative-tim.com/blog" class="nav-link text-muted"
                                       target="_blank">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://www.creative-tim.com/license" class="nav-link pe-0 text-muted"
                                       target="_blank">License</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </footer>
        </div>

        {% for message in messages %}
            {% if message.tags == 'success' %}
                <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                <script>
                    var m = "{{ message }}";
                    swal("SUCCESS !", m, "success")
                </script>
            {% endif %}
            {% if message.tags == 'error' %}
                <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                <script>
                    var m = "{{ message }}";
                    swal("FAILED !", m, "error")
                </script>
            {% endif %}
        {% endfor %}

    </main>
{% endblock content %}

{% block javascript %}
    {% include 'includes/script/gcp_cost_script.html' %}
{% endblock javascript %}
