
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    {% block title %}{% endblock title %}
  </title>
  {% include 'includes/dashboard_head.html' %}
</head>

<body class="g-sidenav-show bg-gray-200 dark-version">
  
  {% block header %}

    {% include 'includes/dashboard_navbar.html' %}

  {% endblock header %}

  {% block content %}{% endblock content %}

{% block footer %}
  
  {% include 'includes/dashboard_plugin.html' %}

{% endblock footer %}

{% include 'includes/dashboard_script.html' %}
{% block javascripts %}{% endblock javascripts %}

</body>
</html>