<script>
    $(document).ready(function () {
        const table = $('#gcpReportCostDatatable').DataTable({
            processing: true,
            stateSave: true,
            paging: true,
            pageLength: 10,
            lengthChange: true,
            autoWidth: false,
            searching: true,
            bInfo: true,
            bSort: true,
            scrollX: true,
            fixedHeader: true,
            language: {
                paginate: {
                    "previous": "<",
                    "next": ">"
                },
            },
            dom: '<"container-fluid"<"row"<"col"l><"col"f>>>rti<"container-fluid"<"row mt-2"<"col"B><"col"p>>>',
            buttons: [
                {
                    extend: 'excel',
                    text: '<i class="fas fa-file-excel"></i>',
                    className: 'btn btn-secondary',
                    titleAttr: 'Excel',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5]
                    }
                },
                {
                    extend: 'pdf',
                    text: '<i class="fas fa-file-pdf"></i>',
                    className: 'btn btn-secondary',
                    titleAttr: 'PDF',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5]
                    },
                    tableHeader: {
                        alignment: 'center'
                    },
                    // FOnt size and optimization
                    customize: function (doc) {
                        doc.styles.tableHeader.alignment = 'center'; // Header postition
                        doc.styles.tableBodyOdd.alignment = 'center'; // Header postition
                        doc.styles.tableBodyEven.alignment = 'center'; // Header postition
                        doc.styles.tableHeader.fontSize = 7; // Header postition
                        doc.defaultStyle.fontSize = 6; // Header postition
                        // To get 100% width of the table
                        doc.content[1].table.widths = Array(doc.content[1].table.body[1].length + 1).join('*').split('');
                    }
                },
            ]
        });
    });
</script>

