<!-- Modal Add Service -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">
                    <i class="fas fa-plus"></i>&nbsp;&nbsp; Add Tech Family
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="addTechFamilyForm" autocomplete="off">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="btn border-secondary bg-light side-label"><i class="fas fa-user-alt"></i></span>
                        <input type="text" class="form-control" name="name" maxlength="100" placeholder="Tech Family Name" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="btn border-secondary bg-light side-label"><i class="fas fa-user-alt"></i></span>
                        <input type="text" class="form-control" name="pic" maxlength="100" placeholder="PIC" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="btn border-secondary bg-light side-label"><i class="fas fa-user-alt"></i></span>
                        <input type="email" class="form-control" name="email" maxlength="100" placeholder="Email" required>
                    </div>
                    <div class="input-group mb-3">
                        <label>
                            <span class="btn border-secondary bg-light side-label" style="border-radius: 4px 0px 0px 4px;">
                                <i class="fas fa-user-cog"></i>
                            </span>
                        </label>
                        <select class="form-select" name="project" required>
                            <option value="" hidden>Select Project</option>
                            <option disabled></option>
                            <option value="MFI">MFI</option>
                            <option value="MDI">MDI</option>
                        </select>
                    </div>

                    <div class="mt-4" style="width: 100%;">
                        <button type="button" id="addTechFamilyButton"  class="btn btn-secondary mb-3">
                            <i class="fas fa-plus"></i>&nbsp;&nbsp; Add
                        </button>
                        <button type="button" class="btn btn-outline-dark mb-3 ms-2" style="width: 50px;" title="Close" data-bs-dismiss="modal"><i class="fas fa-times"></i></button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Edit Service -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">
                    <i class="fas fa-plus"></i>&nbsp;&nbsp; Edit Tech Family
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="editTechFamilyForm" autocomplete="off">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <span class="btn border-secondary bg-light side-label"><i class="fas fa-key"></i></span>
                    <input type="text" class="form-control" name="tf_id" id="editModalTfId" readonly>
                </div>                
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="btn border-secondary bg-light side-label"><i class="fas fa-user-alt"></i></span>
                        <input type="text" id="editModalTfName" class="form-control" name="name" maxlength="100" placeholder="Tech Family Name" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="btn border-secondary bg-light side-label"><i class="fas fa-user-alt"></i></span>
                        <input type="text" id="editModalTfPic" class="form-control" name="pic" maxlength="100" placeholder="PIC" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="btn border-secondary bg-light side-label"><i class="fas fa-user-alt"></i></span>
                        <input type="text" id="editModalTfEmail" class="form-control" name="email" maxlength="100" placeholder="Email" required>
                    </div>
                    <div class="input-group mb-3">
                        <label>
                            <span class="btn border-secondary bg-light side-label" style="border-radius: 4px 0px 0px 4px;">
                                <i class="fas fa-user-cog"></i>
                            </span>
                        </label>
                        <select class="form-select" name="project" required>
                            <option id="editModalTfProject"></option>
                            <option disabled></option>
                            <option value="MFI">MFI</option>
                            <option value="MDI">MDI</option>
                        </select>
                    </div>

                    <div class="mt-4" style="width: 100%;">
                        <button type="button" id="editTechFamilyButton" class="btn btn-secondary mb-3">
                            <i class="fas fa-server"></i>&nbsp;&nbsp; Save Changes
                        </button>
                        <button type="button" class="btn btn-outline-dark mb-3 ms-2" style="width: 50px;" title="Close" data-bs-dismiss="modal"><i class="fas fa-times"></i></button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal Delete Confirmation -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <form id="deleteTechFamilyForm" autocomplete="off">
        {% csrf_token %}
        <input type="hidden" id="deleteModalTfId" name="tf_id" value="{{ tf.pk }}">
        <input type="hidden" id="deleteModalTfName" name="name" value="{{ tf.name }}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel"><i class="fas fa-trash-alt"></i>&nbsp;&nbsp; Delete Tech Family</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="text-center text-danger"><i class="far fa-times-circle fa-5x mb-4 mt-2"></i></div>
                    <div class="text-center text-danger">
                        <span>DO YOU WANT TO DELETE THIS TECH FAMILY ?</span>
                        <div class="text-dark mt-3 mb-2">Tech Family:&nbsp; <strong><span id="tfNamePlaceholder"></span></strong></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" id="deleteTechFamilyButton" class="btn btn-outline-danger btn-sm">Delete</button>
                </div>
            </div>
        </div>
    </form>
</div>

